.swiper {
    width: 100%;
    height: fit-content;
    margin-top: 25px;
    direction: rtl !important;
  }

  .swiper-slide {
    width: 200px !important;
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
  }

  .swiper-button-next{
    font-size: 14px !important;
    border-radius: 50%;
    background-color: grey;
    width: 45px !important;
    height: 45px !important;
  }
  .swiper-button-next::after{
    color: black;
    font-size: 20px !important;
  }
  .swiper-button-prev{
    font-size: 14px !important;
    border-radius: 50%;
    background-color: grey;
    width: 45px !important;
    height: 45px !important;
  }
  .swiper-button-prev::after{
    color: black;
    font-size: 20px !important;
  }